name: Build Desktop App

on:
  workflow_dispatch:
  push:
    tags:
      - v*

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: windows-latest
            tauri_target: bundle-msi
          - os: macos-latest
            tauri_target: bundle-macos

    steps:
      - uses: actions/checkout@v4

      # Node
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install frontend deps & build
        run: |
          npm ci
          npm run build

      # Rust
      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      # Tauri build
      - name: Build Tauri
        env:
          TAURI_TARGET: ${{ matrix.tauri_target }}
          TAURI_SKIP_MACOS_SIGN: 'true'
        run: |
          cd src-tauri
          cargo tauri $env:TAURI_TARGET

      # Upload
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: memorystack-${{ matrix.os }}
          path: src-tauri/target/release/bundle/
